<%= form_tag foods_path, :method => :get, :id => "foodsSearch" do %>
    <%= text_field_tag :search, nil, placeholder: "banana" %>
    <%= submit_tag "Search", :name => nil, class: "searchButton" %>
<% end %>

<% if params[:search] %>
<%= render 'foods' %>
<% else %>
<div id="foods"><%= render 'foods' %></div>
<% end %>