<div class=<%= @food.paleo %>>
<h2><%= @food.name %></h2>
<p id="notice"><%= notice %></p>
<%= image_tag @gif.image_url, class: "gifResponse" %>
<p>Search Again</p>
<p><%= render 'search' %></p>
</div>