<!DOCTYPE html>
<html>
<head>
  <title>Is it Paleo?</title>
  <meta name="viewport" content="initial-scale=1">
  <meta name="description" content="Stop wondering if it's paleo, so you can start eating." />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Paprika' rel='stylesheet' type='text/css'>
  <script src="http://www.kirupa.com/js/prefixfree.min.js"></script>
</head>
<body>
    <%= render 'layouts/header' %>
  <div id="container">    
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
  <%= render 'layouts/google_analytics' %> 
</body>
</html>
